{% extends "layout.twig" %}

{% block content %}
    <h1>Dashboard</h1>
    <ul>
        <li><a href="/NewCourse/Portfolio/users/add">Add Users</a></li>
        <li><a href="/NewCourse/Portfolio/jobs/add">Add Jobs</a></li>
    </ul>
    <br><br>
    <a href="/NewCourse/Portfolio/logout">Logout</a>
{% endblock %}